html, body {
    overflow-x: hidden; /* Împiedică scroll-ul orizontal */
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
    transition: 0.3s;
}